@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    --primary: "#02231c";
    --secondary: "#010d0a";
}

body {
    margin: 0;
    padding: 0;
    font-family: "Inter", sans-serif;
}
