@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    --primary: #0f2310;
    --secondary: #fbb24a;
    --background-color: #1e4620;
}

body {
    margin: 0;
    padding: 0;
    background-color: var(--background-color);
}
